<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Area do Tringulo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container2">

    <ion-label >Base</ion-label>
    <ion-input color="light" placeholder="Digite aqui" [(ngModel)]="lado_B"></ion-input>

    <ion-label >Altura</ion-label>
    <ion-input color="light" placeholder="Digite aqui" [(ngModel)]="lado_A"></ion-input>

    <ion-button color="light" expand="block" (click)="calcular()">Verificar</ion-button>
  </div>


</ion-content>
